// $navbar-height: 4.25rem;
$navbar-item-img-max-height: 3.5rem; // related to https://github.com/gbif/hosted-portals/issues/18

@import "theme/_main";

// You can add additional styling here
.site-title {
    color: #339933;
}